@use './partials/reset';
@use './partials/titulos';
@use './partials/header';
@use './partials/footer';
@use './partials/meadiaqueries';

div img {
    width: 100%;
    height: 100%;
}
.contenedor {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 10px;
}
.contenedor-ubi {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}
p {
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}
section {
    display: flex;
    flex-wrap: wrap;
}
section div {
    flex-grow: 1;
}
section div img {
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
}
.medios_de_pago {
    width: 80px;
    height: 70px;
}
header img {
    width: 200px;
    height: 180px;
}
footer img {
    width: 45px;
    height: 35px;
}
iframe {
    margin: auto;
    display: flex;
}
.d-block{
    height: 500px;
}