footer{
    margin-top: 25px;
    background-color: black;
    padding: 40px 0px;
    span {
        color: gold;
        padding: 10px;
        img {
            width: 45px;
            height: 35px;
        }
    }
}
