@use'./variables';
footer{
    margin-top: 25px;
    background-color: variables.$main-color;
    padding: 40px 0px;
    a {
        color: gold;
        text-decoration: none;
        padding: 2px;
        span {
            color: gold;
            padding: 10px;
            img {
                width: 45px;
                height: 35px;
            }
        }
    }
}
